* {
    margin: 0;
}

/* Fonte   */

p {
    font-family: ralewayLight;
    font-size: 0.9em;

}

h1 {
    font-family: ralewayLight;
    font-size: 2em;
    font-weight: lighter;

}

h2 {
    font-family: ralewayLight;
    font-size: 1.2em;
    font-weight: lighter;

}

h3 {
    font-family: didot;
    font-size: 2em;
    font-weight: lighter;

}



/* Menubar */

/* Header  */

#header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    height: 48vw
}

#logo_header {
    background-image: url(img/line_udkast_logo.png);
    background-repeat: no-repeat;
    background-size: 100%;



}

/* Burger Menu */

/***************/

.burger_icon {
    grid-area: menu position: fixed;
    margin: 5%;
    top: 0;
    left: 0;
    background-color: white;
    padding: 8px;
    opacity: 0.8;
    border-radius: 50%;
    z-index: 16;
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: 1s ease;
}

.bar1,
.bar2,
.bar3 {
    width: 22px;
    height: 3px;
    background-color: #9d9d9d;
    margin: 4px auto;
    transition: 0.4s ease;
    z-index: 20;
}

.bar1 {
    margin-top: 6px;
}


/* Rotering af menuen */

.change .bar1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.change .bar3 {
    transform: rotate(45deg) translate(-5px, -5px);
}

/** Fade **/

.change .bar2 {
    opacity: 0;
}

#burger_menu {
    display: none;
    top: 0;
    left: 0;

    z-index: 9;
    width: 30vw;
    height: 100vh;
    min-width: 100px;
    background-color: white;
    text-align: left;
    position: absolute;
    transition: 0.8s ease;
}

#burger_menu.show {
    display: block;
    position: fixed;
    box-shadow: 0 0px 1050px rgba(0, 0, 0, 0.24);
    width: 50vw;
    height: 100vh;
    margin: 0;
    z-index: 15;
}

#burger_menu ul {
    margin: 100px 5%;
    list-style: none;
}

#burger_menu a {
    display: block;
    text-align: left;
    margin: 10px;
    padding: 0 20px;
    color: #898989;
    text-decoration: none;
    font-size: 1.1em;
    margin: 15px 5%;
}

#burger_menu a:hover {
    color: black;
}

/* Footer */

#footer {
    position: absolute;
    bottom: 5px;
}

.box1 {
    width: 50%;
    height: 20vh;
}

/* Desktop */

#desktop_menu {}


/*Indhold forside*/

#first {
    background-image: url(img/line_billede.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 60vw;
    margin-top: 10vw;
}

#first h1,
p {
    margin-top: 5%;
    text-align: center;
}




#footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#kontakt {
    text-align: center;
    grid-column: 1/2;
}

#flex_footer {
    grid-column: 3/4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

#some_face {
    background-color: aqua;
    width: 10vw;
    grid-column: 3/4
}

#some_insta {
    background-color: coral;
    width: 10vw;
    grid-column: 3/4;
}
